<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <ion-item>
    <ion-label>Date</ion-label>
    <ion-input [(ngModel)]="startDate" name="startDate" type="date">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Time</ion-label>
    <ion-input [(ngModel)]="startTime" name="startTime" type="time">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Text</ion-label>
    <ion-input [(ngModel)]="text" name="text" type="text">
    </ion-input>
  </ion-item>
</div>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      {{item.title}}
      <div class="item-note" slot="end">
        {{item.note}}
      </div>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
